TOKEN=your_discord_bot_token
CLIENT_ID=your_bot_client_id
GUILD_ID=your_guild_id

BOTNAME='Community Bot'
BOT_STATUS="Watching the server"
NODE_ENV="Development"
SERVER_COLOR="Green"

INVITE_LINK=https://discord.gg/example
MONGO_URL=mongodb_connection_string

STAFF_CHANNEL_ID=your_automod_and_altdetector_channel_id
WELCOME_CHANNEL_ID=your_welcome_channel_id
LOG_CHANNEL_ID=your_log_channel_id
OWNER=your_owner_user_id
MEMBERS_CHANNEL_ID=your_members_stat_channel_id
BOTS_CHANNEL_ID=your_bots_stat_channel_id
BOOSTS_CHANNEL_ID=your_boosts_stat_channel_id
STAFF_ROLE_ID=your_staff_role_id

PERFORMANCE_WEBHOOK_URL=https://discord.com/api/webhooks/...
ERROR_WEBHOOK_URL=https://discord.com/api/webhooks/...
FALLBACK_WEBHOOK_URL=https://discord.com/api/webhooks/...